/* 
general  
*/

/* 
header  
*/

header {
    background-color: #2c3e50;
}



/* 
main  
*/

.main_avatar {
    background-color: #1abc9c;
}

.avatar {
    max-width: 200px;
}

.barra_bianca {
    width: 80px;
    max-height: 3px;
    background-color: white;
    border-radius: 20px;
    margin-top: 25px;
}


.color_barra {
    background-color: #2c3e50;
}


/* 
footer  
*/

.background_top_footer {
    background-color: #3a546d;
}

.background_bottom_footer {
    background-color: #2c3e50;
}

.color_avatar a {
    color: #1abc9c;
    text-decoration: none;
}

.font_icon {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
}